body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #bdbdbd5e;
}

header, footer {
    background-color: #4242425e;
    color: rgb(62, 144, 196);
    text-align: center;
    padding: 10px;
}

section {
    padding: 20px;
    display: flex ;
    justify-content: first baseline;
}

.programador {
    text-align: center;
    margin-bottom: 20px;
}

.programador img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0;
    clip-path: circle(50% at 50% 50%);
}

.contactos img{
    width: 60px;
    height: 60px;
}

.programador {
    width: 300px;
    margin: 20px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    height: 390px;
    margin-left: 125px;
}

.conocenos{
    margin-right: 125px;
    margin-top: 110px
}

.conocenos h2{
    
}



