body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #8a8a8a5e;
    color: rgb(62, 144, 196);
    text-align: center;
    padding: 10px;
}

section {
    padding: 20px;
}

.programador {
    text-align: center;
    margin-bottom: 20px;
}

.programador img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
