*{
    font-family: 'Inconsolata', monospace;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2c2c25e;
    text-align: center;
}

a:link{
    border: 1px solid black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: #4242425e;
    color: aliceblue;
}

header, footer {
    background-color: #8a8a8a5e;
    color: rgb(62, 144, 196);
    text-align: center;
    padding: 10px;
}

section .recode {
    background-color: aliceblue;
    margin: 65%;
    padding: 0;
}

header{
    background-color: black;
    color: lightseagreen;
}

footer, header a{
    color: lightseagreen;
}

footer, header a:hover{
    color: black;
    background-color: lightseagreen;
    transition: 0.4s;
}

footer a:hover{
    color: black;
    background-color: lightseagreen;
    transition: 0.4s;
}

footer{
    background-color: black;
    color: lightseagreen;
}


footer a{
    background-color: black;
    color: lightseagreen;
}

.caja{
    height: 150px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: white;
    margin: 30px;
}